body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blue;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.bio-container {
    background-color: pink;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    margin-left: 50px
}

.bio-container img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.bio-container p {
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: disc;
    margin-left: 20px;
}