body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.bio-container {
    background-color: white;
    border-width: 3px;
    border-style: double;
    border-color: red;
    float: left;
    margin: 20px auto;
    padding: 20px;
    width: 30%;
}

.bio-container .profile-picture {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.bio-container .badge {
    align-items: center;
    border-radius: 100%;
    display: inline-flex;
    height: 20px;
    margin: 0 auto;
    object-fit: cover;
    width: 20px;       
}

.bio-container p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.history-container {
    background-color: white;
    border-width: 3px;
    border-style: double;
    border-color: red;
    float: right;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: disc;
    margin-left: 20px;
}